<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Game Page</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Josefin+Sans:ital,wght@0,300;0,500;1,400;1,500&display=swap"
        rel="stylesheet">

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="../resources/favicon.png"> -->
    <!-- Font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <div class="top-container">
        <div class="top-inner-container">

        </div>
    </div>
    <main class="quiz-container">
        <div class="flex">
            <div class="quiz-head">
                <span class="golden-title">Pregunta 1/10</span>
                <h2>What is your name?</h2>
            </div>

            <div class="quiz-text">
                <label aut for="textA" autocomplete="off">texto 01</label>
                <input type="text" autocomplete="off" id="textA" name="textA" value="" maxlength="30" />
            </div>

            <div class="quiz-text">
                <label for="textB">texto 01</label>
                <input type="text" autocomplete="off" id="textB" name="textB" value="" maxlength="30" />
            </div>

            <div class="quiz-option">
                <input type="radio" id="optionA" name="option" value="" />
                <label for="optionA">Esta es la asdf sadfasd primeraasdasdf asdfasdfasdfasdfasdff
                    asdfasasdfasdfasdfdfasd
                    opcion</label>
            </div>

            <div class="quiz-option">
                <input type="radio" id="optionB" name="option" value="" />
                <label for="optionB">Esta es la asdf sadfasd primeraasdasdf asdfasdfasdfasdfasdff
                    asdfasasdfasdfasdfdfasd
                    opcion</label>
            </div>
            <div class="quiz-option">
                <input type="radio" id="optionC" name="option" value="" />
                <label for="optionC">Esta es la primera opcion</label>
            </div>
            <div class="quiz-option">
                <input type="radio" id="optionD" name="option" value="A" />
                <label for="optionD">Esta es la primera opcion</label>
            </div>
            <div class="quiz-option">
                <input type="radio" id="optionE" name="option" value="A" />
                <label for="optionE">Esta es la primera opcion</label>
                <input type="text" autocomplete="off" id="ToptionE" name="ToptionE" value="" />
            </div>

            <button class="button">Siguiente pregunta</button>
        </div>
    </main>

    <!-- External Script -->
    <script src="./quiz.js"></script>
</body>

</html>