/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */

:root {

  --primary-font: 'Dela Gothic One', cursive;
  --secondary-font: 'Josefin Sans', sans-serif;
  --color-golden: #E9B824;
  --color-lightgray: #edeaea;
  --color-lightergray: #f1f1f1;
  --color-purple: #713ABE;

}

html {
  box-sizing: border-box;
  font-size: 22px;
}

body {
  margin: 0;
  font-family: var(--secondary-font);
  background: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

/* .body-gif {
  background-image: url("https://media.giphy.com/media/l3q2TTmsHJ8SayhLa/giphy.gif");
  background-size: cover;
} */



main>div {
  box-sizing: border-box;
  margin: auto;
  width: 60%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 92vh;
  padding: 20px;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

main .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main>div::-webkit-scrollbar {
  width: 6px;
  height: 90%;
  color: var(--color-purple);
  border-radius: 4px;
}

main>div::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: white;
}


.lamp {
  position: absolute;
  right: 20%;
  top: 0px;
  width: 400px;
  height: auto;
  transition: all .3s ease;
  cursor: pointer;
  /* z-index: -1; */
}

.lamp:hover {
  transform: scale(1.1);
}

.main-title {
  font-size: 4rem;
  margin-bottom: -10px;
}

.golden-text {
  font-weight: bold;
  color: var(--color-golden);
}

.golden-title {
  font-weight: bold;
  color: var(--color-golden);
  text-transform: uppercase;
}

.chat-form {
  margin: 20px;
  width: 100%;
}

.message {
  font-family: var(--secondary-font);
  font-size: 0.80rem;
  width: 60%;
  margin-top: 10px;
  background-color: var(--color-lightergray);
  text-align: left;
  padding: 4px 10px;
  border-radius: 10px;
}

.message__text {
  white-space: pre-wrap;
}

.message--received {
  margin-right: auto;
  border-bottom-right-radius: 0px;
}

.message--sent {
  margin-left: auto;
  border-bottom-left-radius: 0px;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 7px;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 30px;
  line-height: 24px;
  margin: 0px 0px 20px;
}

.mini-button {
  border: none;
  background-color: var(--color-purple);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.mini-button:hover {
  opacity: .80;
}

.mini-input {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(86, 86, 86, 0.2);
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--secondary-font);
  font-weight: bold;
}

.container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../resources/robot.gif');
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.index-header h1 {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  /* width: 80%; */
  /* height: 50px; */
  padding: 10px 20px;
  font-family: var(--secondary-font);
  color: white;
  background: var(--color-purple);
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 11px 8px rgba(86, 86, 86, 0.2);
  font-size: .9rem;
  font-weight: bold;
  transition: color .6s ease;
}

.button:hover {
  background-color: white;
  color: var(--color-purple);
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.button2 {
  color: var(--color-purple);
  background: white;
  margin-top: 15px;
}

.top-container {
  position: absolute;
  top: 20px;
  left: 2vw;
  width: 96vw;
  height: 10px;
  border-radius: 10px;
  background-color: var(--color-lightgray);
}

.top-inner-container {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-golden);
  transition: width .3s ease;
}

.quiz-option {
  font-size: .85rem;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-lightgray);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 25px;
}

.quiz-option>label {
  margin: 0 0 0 15px;
}

.quiz-option input[type=text] {
  border-radius: 5px;
  display: block;
  height: .9rem;
  margin-bottom: 11px;
  margin: 10px 0px 0px 30px;
  border: none;
  width: 80%;
}


.quiz-text {
  font-size: .85rem;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--color-lightgray); */
  padding: 10px 20px;
}

.quiz-text input[type=text] {
  border-radius: 5px;
  display: block;
  height: 1rem;
  margin-bottom: 11px;
}


@media screen and (max-width: 1000px) {

  .button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }


}

@media only screen and (max-width: 1200px) {

  main>div {
    width: 80%;
  }

}

@media only screen and (max-width: 600px) {

  main>div {
    width: 90%;
  }

  main>div::-webkit-scrollbar {
    width: 0px;
  }

  .quiz-text {
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between;
    background-color: var(--color-lightgray);
    padding: 10px 20px; */
  }

  .quiz-text,
  .quiz-option {
    width: 100%;
  }
}